#banner {
  background-image: url('images/overlay.png'), url('/../images/FreshBack.jpg');
}

.image.fit-profile {
  margin: 0 auto 50px auto;
  width: 65%;
}

@media screen and (max-width: 1280px) {
  #banner {
    background-image: url('images/overlay.png'), url('/../images/FreshBack.jpg');
  }

  .image.fit-profile {
    margin: 35px auto;
    width: 50%;
  }
}

@media screen and (max-width: 980px) {
  #banner {
    background-image: url('images/overlay.png'), url('/../images/FreshBack.jpg');
  }

  .image.fit-profile {
    margin: 35px auto;
    width: 50%;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    background-image: url('images/overlay.png'), url('/../images/FreshBack.jpg');
  }

  .image.fit-profile {
    margin: 20px auto;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    background-image: url('images/overlay.png'), url('/../images/FreshBack.jpg');
  }

  .image.fit-profile {
    margin: 20px auto;
    width: 70%;
  }
}

.navPanelToggle {
  height: 50px;
}

.wrapper.style3 {
  background-attachment: fixed;
  background-image: url('images/overlay.png'), url('../../images/FreshBack.jpg');
  background-position: center center;
  background-size: cover;
}
