#banner {
  background-image: url("images/overlay.png"), url("/../images/banner.jpg");
}

@media screen and (max-width: 1280px) {

  #banner {
    background-image: url("images/overlay.png"), url("/../images/bannerTablet.jpg");
  }

}

@media screen and (max-width: 980px) {

  #banner {
    background-image: url("images/overlay.png"), url("/../images/bannerTablet.jpg");
  }

}

@media screen and (max-width: 736px) {

  #banner {
    background-image: url("images/overlay.png"), url("/../images/bannerMobile.jpg");
  }

}

@media screen and (max-width: 480px) {

  #banner {
    background-image: url("images/overlay.png"), url("/../images/bannerMobile.jpg");
  }

}

.navPanelToggle {
  height: 50px;
}
